.backgroundbeach {
    height: 354px;
    background-image: url("../images/sea.jpg");
    background-position: center;
    background-size: cover;
  }
  
.backgroundbeach .water {
    background-image: url("../images/sea-map.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    filter: url("#turbulence");
  }
svg{
    display: none;
}
  